.App {
  background-size: cover;
  background: linear-gradient(-45deg,#0b0c0c,  #125269, #125269, #0b0c0c);
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.container {
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  border: 3px solid rgba(255, 255, 255, 0.125);
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.418);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  width: 250px;
}

.body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 30px;
}